.myInfo{
    width: 333px;
    height: 444px;
    background-color: rgb(255, 255, 255);
    /*center arrangement*/
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    /*Allocation on all sides*/
    padding: 10px;
    /*box-shadow: 10px 10px 10px black;*/
}
.photo{
    width: 100px;
    height: 100px;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    border-radius: 50px;
}
/*Increasing height of table*/
tr{
    height: 30px;
}